{
    "version": "2017-02-28",
    "operation": "PutItem",
    "key": {
        "id": {"S": "$util.autoId()"}
    },
    "attributeValues": {
        "text": {"S": "${context.arguments.text}" },
    }
}